name: Update gist with WakaTime stats
on:
  schedule:
    - cron: "0 0 * * *"
  watch:
    types: [started]
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Update gist
        uses: vaishak47/waka-box@master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 7e6161eb6011491d361d0fdfe6002b3d
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
